<div class="row">
    <div id="clearance" class="sign-in large-6 medium-6 small-8 large-offset-3 medium-offset-3 small-offset-2  columns">
      <fieldset>
      <legend>
          <h2 class="centered"><%= t '.title' %></h2>
      </legend>
          <%= render partial: '/sessions/form' %>
      </fieldset>
    </div>
</div>
