<div class="text-field">
  <%= form.label :email, class: 'form-label' %>
  <%= form.text_field :email, type: 'email', class: 'radius' %>
</div>
<div class="password-field">
  <%= form.label :password, class: 'form-label' %>
  <%= form.password_field :password, class: 'radius' %>
</div>
